<div class="wraper">
  <div>
    <h3 class="lebel" *ngIf="openEdit; else edit">Добавить заметку</h3>
  </div>
  <div class="col">
    <input class="form-control" [(ngModel)]="text" type="text" value="" (keyup.enter)="addCart(text)">

      <div *ngIf="openEdit; else elseBlock">
    <button class="btn btn-outline-secondary" (click) = "addCart(text)">Добавить</button>
      </div>

      <ng-template #elseBlock>
        <button class="btn btn-outline-secondary" (click) = "editCart(text)">Сохранить</button>
        <button class="btn btn-outline-secondary" (click) = "cancelEdit()">Отменить</button>
      </ng-template>
  </div>

  <br>

  <div *ngIf="toDoList.length">
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li  *ngFor="let item of toDoList; let ind = index" class="list-group-item">{{item}}
          <div>
          <button type="button" class="btn btn-outline-dark" (click)="deleteItem(item)">x</button>
          <button type="button" class="btn btn-outline-dark" (click)="editItem(item, ind)">?</button></div>

        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #edit>
  <h3 class="lebel" *ngIf="!openEdit">Редактировать</h3>
</ng-template>
